<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CrossCopy Sign Up Verification</title>
    <style>
      body {
        text-align: center
      }
    </style>
  </head>
  <body>
    <h1>CrossCopy {{event}}</h1>
    <p>Your verification code is <strong>{{code}}</strong></p>
    <p>Please enter the verification code within 10 minutes</p>
  </body>
</html>
